{% extends 'base.html.twig' %}

{% block body %}
    <h1>Client edit</h1>
    
    {{ form_start(edit_form) }}
        {{ form_row(edit_form._token) }}
        {{ form_row(edit_form.firstname) }}
        {{ form_row(edit_form.lastname) }}
        {{ form_row(edit_form.companyName) }}
        
{#        {{ form_widget(form) }}#}
        
        <div class="phonenumbersContainer">
            <h3>Phonenumbers</h3>
            <div class="phonenumbers"
                data-prototype-typeLabel="{{ form_widget(edit_form.phonenumbers.vars.prototype.typeLabel)|e('html_attr') }}"
                data-prototype-digits="{{ form_widget(edit_form.phonenumbers.vars.prototype.digits)|e('html_attr') }}">
                {# iterate over each existing tag and render its only field: name #}
                {% for phonenumber in edit_form.phonenumbers %}
                    <ul class="phoneUl">
                        <li>{{ form_widget(phonenumber.typeLabel) }}</li>
                        <li>{{ form_widget(phonenumber.digits) }}</li>
                    </ul>
                {% endfor %}
            </div>
            {{ form_errors(edit_form.phonenumbers) }}
        </div>
            
        <div class="emailsContainer">
            <h3>Emails</h3>

            <div class="emails"
                data-prototype-typeLabel="{{ form_widget(edit_form.emails.vars.prototype.typeLabel)|e('html_attr') }}"
                data-prototype-address="{{ form_widget(edit_form.emails.vars.prototype.address)|e('html_attr') }}">
                {# iterate over each existing tag and render its only field: name #}
                {% for email in edit_form.emails %}
                    <ul class="emailUl">
                        <li>{{ form_widget(email.typeLabel) }}</li>
                        <li>{{ form_widget(email.address) }}</li>
                    </ul>
                {% endfor %}
                {{ form_errors(edit_form.emails) }}
            </div>
        </div>
            

        <input type="submit" value="Save" />
    {{ form_end(edit_form, {'render_rest': false}) }}

    <ul>
        <li>
            <a href="{{ path('clients_index') }}">Back to the list</a>
        </li>
        <li>
            {{ form_start(delete_form) }}
                <input type="submit" value="Delete">
            {{ form_end(delete_form) }}
        </li>
    </ul>
{% endblock %}

{% block javascripts %}
    {{ parent() }}
    <script src="{{ asset('js/Client/editAction.js') }}"></script>
{% endblock %}
