{% extends 'base.html.twig' %}

{% block body %}
    <h1>Client creation</h1>

    {{ form_start(form) }}
        {{ form_row(form._token) }}
        {{ form_row(form.firstname) }}
        {{ form_row(form.lastname) }}
        {{ form_row(form.companyName) }}
        
{#        {{ form_widget(form) }}#}
        <div class="phonenumbersContainer">
            <h3>Phonenumbers</h3>
            <div class="phonenumbers"
                data-prototype-typeLabel="{{ form_widget(form.phonenumbers.vars.prototype.typeLabel)|e('html_attr') }}"
                data-prototype-digits="{{ form_widget(form.phonenumbers.vars.prototype.digits)|e('html_attr') }}">
                {% for phonenumber in form.phonenumbers %}
                    <ul class="phoneUl">
                        <li>{{ form_widget(phonenumber.typeLabel) }}</li>
                        <li>{{ form_widget(phonenumber.digits) }}</li>
                    </ul>
                {% endfor %}
                {{ form_errors(form.phonenumbers) }}
            </div>
        </div>
            
        <div class="emailsContainer">
            <h3>Emails</h3>

            <div class="emails"
                data-prototype-typeLabel="{{ form_widget(form.emails.vars.prototype.typeLabel)|e('html_attr') }}"
                data-prototype-address="{{ form_widget(form.emails.vars.prototype.address)|e('html_attr') }}">
                {% for email in form.emails %}
                    <ul class="emailUl">
                        <li>{{ form_widget(email.typeLabel) }}</li>
                        <li>{{ form_widget(email.address) }}</li>
                    </ul>
                {% endfor %}
                {{ form_errors(form.emails) }}
            </div>
        </div>
        
        {{ form_errors(form) }}

        <input type="submit" value="Create" />
    {{ form_end(form, {'render_rest': false}) }}

    <ul>
        <li>
            <a href="{{ path('clients_index') }}">Back to the list</a>
        </li>
    </ul>
{% endblock %}

{% block javascripts %}
    {{ parent() }}
    <script src="{{ asset('js/Client/newAction.js') }}"></script>
{% endblock %}
