{% extends 'base.html.twig' %}

{% block body %}
    <h1>Client</h1>

    <table>
        <tbody>
            <tr>
                <th>Firstname</th>
                <td>{{ client.firstname }}</td>
            </tr>
            <tr>
                <th>Lastname</th>
                <td>{{ client.lastname }}</td>
            </tr>
            <tr>
                <th>Companyname</th>
                <td>{{ client.companyName }}</td>
            </tr>
        </tbody>
    </table>
            
    <div class="phonenumbersContainer">
        <h3>Phonenumbers</h3>
        {% for phonenumber in client.phonenumbers %}
            <ul>
                <li class="typeLabel">{{ phonenumber.typeLabel }}</li>
                <li class="digits">{{ phonenumber.digits }}</li>
            </ul>
        {% endfor %}
    </div>
    
    <div class="emailsContainer">
        <h3>Emails</h3>
        {% for email in client.emails %}
            <ul>
                <li class="typeLabel">{{ email.typeLabel }}</li>
                <li class="address">{{ email.address }}</li>
            </ul>
        {% endfor %}
    </div>

    <ul>
        <li>
            <a href="{{ path('clients_index') }}">Back to the list</a>
        </li>
        <li>
            <a href="{{ path('clients_edit', { 'id': client.id }) }}">Edit</a>
        </li>
        <li>
            {{ form_start(delete_form) }}
                <input type="submit" value="Delete">
            {{ form_end(delete_form) }}
        </li>
    </ul>
{% endblock %}
