{% extends 'base.html.twig' %}

{% block body %}
    <h1>Deleted Clients</h1>

    <table>
        <thead>
            <tr>
                <th>Firstname</th>
                <th>Lastname</th>
                <th>Companyname</th>
                <th>Actions</th>
            </tr>
        </thead>
        <tbody>
        {% for client in clients %}
            <tr>
                <td>{{ client.firstname }}</td>
                <td><b>{{ client.lastname }}</b></td>
                <td>{{ client.companyName }}</td>
                <td>
                    <ul>
                        <li>
                            <a href="{{ path('clients_restore', { 'id': client.id }) }}">restore</a>
                        </li>
                    </ul>
                </td>
            </tr>
        {% endfor %}
        </tbody>
    </table>

    <div>
        <div>
            <a href="{{ path('clients_index') }}"><button>Back to the list</button></a>
        </div>
    </div>
{% endblock %}
